#!ipxe


# OPTIONAL: Base URL used to resolve most other resources
# Should always end with a slash
#set boot-url http://boot.smidsrod.lan/
set boot-url http://1.2.3.1:8080/

# OPTIONAL: Relative directory to boot.ipxe used to
# override boot script for specific clients
set boot-dir boot/

# REQUIRED: Absolute URL to the menu script, used by boot.ipxe
# and commonly used at the end of simple override scripts
# in ${boot-dir}.
set menu-url ${boot-url}menu.ipxe